bin
obj
carpool4_Runtime/.vs/config/applicationhost.config
*.suo
carpoolClient/carpool4_Xamarin_Forms/.vs/carpool4/v14/.suo
carpoolClient/carpool4_Xamarin_Forms/.vs/carpool4/v14/.suo
packages
.vs
